.page-header {
  position: relative;
  width: 100%;
  @include clearfix;
  margin-bottom: 5em;
  .utility {
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-nav {
    float: right;
    position: relative;
    top: 4em;
  }
  .blog-title {
    float: left;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
}
