

// typeface variables
  $font-stack: "franklin-gothic-urw", sans-serif;

// colors
  $white: #fff;
  $black: #333;
  $gray-light: #ccc;
  $gray: #ccc;
  $gray-lighter: #eee;
  $red: #DD3928;

  // categories
  $yellow: #D5DD00;
  $blue: #09F4FD;
  $green: #00EA90;
  $pink: #EA0094;
  $red: #EF0000;
  $purple: #D53BEF;
